.search-blog input{
  border: 1px solid #1e21252f;
  padding: 12px 17px;
  border-radius: 50px;
  margin-bottom: 40px;
  /* width: 200px; */

}

.blog-image{
  border-radius:20px 20px 0px 0px;
}

.blog__item {
  border: 1px solid #7c8a972e; 
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.blog__time {
  border-top: 1px solid #5a646e37;
  
}

.read__more {
  color: #dca447;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.read__more:hover {
  color: #dca447;
}

.blog__time span i {
  color: #dca447;
}

.blog__author {
  color: #162b75;
  font-weight: 600;
}

.blog__author i {
  font-weight: 500;
}

.blog__title {
  text-decoration: none;
  color: #162b75;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog__title:hover {
  color: #dca447;
}

@media only screen and (max-width: 768px) {
  .blog__time {
    padding-top: 5px !important;
  }

  .blog__time span {
    font-size: 0.7rem;
  }

  .blog__info p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }

  .blog__title {
    font-size: 1.1rem;
  }

  .read__more {
    font-size: 0.7rem;
  }
}
