/* ======== google fonts ======== */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* ======= base style ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* ========= pre-define css ========= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000d6b;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: #000d6b;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #f9a826;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: #7c8a97;
  font-size: 0.9rem;
  line-height: 30px;
}

section {
  padding: 50px 0px;
}

.btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: #fff !important;
  background: #000c6bd0;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.service-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: transparent;
  color: #333;
  transition: background-color 0.3s;
}

.service-item:hover {
  background-color: #130c43;
}

.service-item.selected {
  background-color: #130c43;
  color: #fff;
}

.normal-button {
  appearance: button;
  background-color: #130c43;
  border: solid transparent;
  border-radius: 4px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 17px
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }

}

.pointer {
  cursor: pointer;
}

.pointertext:hover {
  background-color: #333;
}

.bordered {
  border: 1px solid black;
  /* Kiểu viền */
  border-radius: 4px;
  /* Góc bo tròn */
  padding: 10px;
  /* Khoảng cách từ nội dung đến khung viền */
}

.note-container {
  min-height: 100px;
  /* Chiều cao tối thiểu */
  min-width: 100%;
  padding: 10px;
  /* Khoảng cách nội dung đến viền */
  border: 1px solid #ccc;
  /* Viền */
  border-radius: 4px;
  /* Góc bo tròn */
}

/* --------MODAL CASE---------- */

.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal-content h3 {
  color: #333;
}

/* --------------BUTTON---------------- */

.buttonReset {
  color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.blue {
  background-color: #0571fe;
}

.blue:hover {
  background-color: #186ad6 !important;
}

.buttonReset:hover {
  background-color: #333;
}

.buttonReset svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.buttonReset:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}